*{
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	font-family: 'Mansalva', cursive;
}

img {
	height: 250px;
	width: 172px;
}

.mainDiv{
	background-color: black;
	height: 20%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 23%;
	margin-top: 2%;
	border: 2px solid white;
}

.images {
	margin: 10px;
	border: 2px solid white;
}
.images td{
	border: 2px solid white;
}